
  <!-- Page Content -->
  <div class="container">
    <br/>

    <!-- Marketing Icons Section -->
    <h1>Finger.Farm: Advanced Finger Hosting</h1>
    <div class="row">
      <div class="col-lg-12" style="padding-bottom: 20px;">
        <img src="/img/fingerfarmers2.jpg" style="width: 100%" />
      </div>
      
      <div class="col-lg-12" style="padding-bottom: 20px;">
        <div class="card">
          <h4 class="card-header">Friends Finger Friends</h4>
          <div class="card-body">
            <p class="card-text">
                <ol>
                    <li>
                        Open your Mac / Windows / Linux terminal
                    </li>
                    <li>
                        Type: <br />
                        <code>finger jroig@finger.farm</code>
                    </li>
                    <li>
                        Profit
                    </li>
                </ol> 
          </div>
        </div>
      </div>
      <div class="col-lg-12" style="padding-bottom: 20px;">
        <div class="card">
          <h4 class="card-header">The Original Decentralized Social Network</h4>
          <div class="card-body">
            <p class="card-text">
                Your Dad fingered your Mom in the 90s.
            </p>
            <p class="card-text">
                
            </p>
            <p class="card-text">

                Originally conceived as a way to get a status report on someone or something, 
                the <a href="https://en.wikipedia.org/wiki/Finger_protocol" title="Wikipedia: Finger Protocol">Finger Protocol</a> aka 
                <a href="https://tools.ietf.org/html/rfc742" title="Finger Protocol RFC-742">RFC-742</a>, has been around since the late 70s.
                Even today, the capability to finger lies dormant 
                in every major OS. 
                
            </p>
            <p class="card-text">
                Once upon a time, you could finger your boss, finger a vending machines, 
                finger the weather, 
                finger <a href="https://github.com/ESWAT/john-carmack-plan-archive" title="John Carmack Plan Archive">John Carmack</a>, etc... 
                Users would share .project and .plan files, showing their current project and plans.
                The original telepresence. The original Internet of Things. The original microblogging.
            </p>
            <p class="card-text">
                Although it's fallen out of fashion, finger still works and still has a valid purpose.
                Finger.Farm breathes new life into an ancient protocol, bringing the advanced finger features and 
                finger functions into the future.
            </p>
            <p class="card-text">
                Reach out and touch someone: <a href="/auth/github" title="Sign up">sign up</a> is free, only takes a second.
              </p>
                <a class="btn btn-lg btn-secondary btn-block" href="/auth/github" title="Log in with GitHub">Log in with GitHub</a>
            
          </div>
        </div>
      </div>
      <div class="col-lg-12" style="padding-bottom: 20px;">
        <div class="card">
          <h4 class="card-header">Free Finger Forever</h4>
          <div class="card-body">
            <p class="card-text">
                Clone our 
                <a href="https://github.com/jonroig/finger.farm" title="Finger.Farm GitHub Repo">Finger.Farm GitHub Repo</a>
                and host your own Finger.Farm instance or just point a subdomain CNAME at Finger.Farm so 
                people can: <code>finger you@finger.yourdomain.com</code>
            </p>
            <p class="card-text">
                Whatever, it's cool. This thing is ridiculous. Enjoy!
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6">
        <h2>Finger.Farm Features</h2>
        <p>Finger.Farm implements the finger protocol on top of a modern dev platform.</p>
        <ul>
          <li>
            <strong>CORS REST API</strong>
          </li>
          <li>OpenSource: Node.js</li>
          <li>SqliteDB</li>
        </ul>
        <p>
            Finger.Farm is 100% free and open source. 
        </p>
      </div>
      
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>
            Status is important... and what better way to convey your current status than finger? 
        </p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="/auth/github" title="Log in with GitHub">Log in with GitHub</a>
      </div>
    </div>

  </div>
  <!-- /.container -->
