
  <!-- Page Content -->
  <div class="container">
        <div class="container">
            <br/>
            <div class="col-lg-12" style="padding-bottom: 20px;">
                <div class="card">
                <h4 class="card-header">Finger.Farm: Status</h4>
                    <div class="card-body">
                        <p class="card-text">
                            <strong>Current number of users: {{ currentUsers }}</strong>
                        </p>
                        <p class="card-text"></p>
                            Finger.Farm is the world's only open source hosting 
                            for the Finger protocol. Built primarily as a tech demo 
                            for the jr devs on my team who'd never experienced the joys 
                            of the ASCII era and shared unix boxes, Finger.Farm is a look back through 
                            Internet history into another time.
                        </p>
                        <p class="card-text">
                            For the most part, the finger client is still pre-installed on
                            modern operating systems. 
                            There just aren't many fingerable addresses left.
                        </p>
                        <p class="card-text">
                            Working through this project over the course of a rare 
                            rainy weekend in Scottsdale, AZ, I'm amazed 
                            at how many core ideas so central to the Internet 
                            -- live status, blogging, IoT, etc... were really there from 
                            the beginning. The rest was just elaborating on those basic themes.
                        </p>
                        <p class="card-text">
                            Clever folks, those Internet pioneers.
                        </p>
                        <p class="card-text">
                            Finger never really made the jump to the "modern" era -- 
                            it didn't support SSL, easy DNS discoverability, 
                            or formatted responses like JSON. The 
                            <a href="https://en.wikipedia.org/wiki/Morris_worm" title="Wikipedia: The Morris Worm">Morris Worm</a> 
                            probably didn't help. 
                        </p>
                        <p class="card-text">
                            Attempts to update the concept -- <a href="https://en.wikipedia.org/wiki/WebFinger" title="webfinger">WebFinger</a>
                            comes to mind -- never really went anywhere.
                        </p>
                        <p class="card-text">
                            Ultimately, was it just the name that held back finger? 
                        </p>
                        <p class="card-text">
                            Anyway, hope you enjoy another one of my ridiculous 
                            weekend projects. PRs to the 
                            <a href="https://github.com/jonroig/finger.farm" title="Node.JS implementation of the finger protocol">Finger.Farm repo</a>
                            are more than welcome.
                        </p>
                        <p class="card-text">
                        Uhhh... 
                            <a href="https://xn--i-7iq.ws/" title="Register an emoji url">buy some emoji domains</a>!
                        </p>
                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-- <a href="https://jonroig.com" title="Scottsdale Web Developer">Jon Roig</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
